{% extends 'base.html.twig' %}

{% block title %}
  Inscrivez-vous!
{% endblock %}

{% block body %}
  <!-- Content here -->
  <br />
  <h1 class="h2">
    Inscrivez-vous
  </h1><br />
  {{ form(form) }}
{% endblock %}
