{% extends 'base.html.twig' %}

{% block title %}
  New Tricks
{% endblock %}

{% block body %}
  <h1>
    Create new Tricks
  </h1>
  {% if errors != null %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <span class="alert-inner--icon"><i class="ni ni-bell-55"></i></span>
      <span class="alert-inner--text">
        <strong>Warning!</strong>{{ errors }}
      </span>
      <button type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  {{ include('tricks/_form.html.twig') }}

  <a href="{{ path('tricks_index') }}">back to list</a>
{% endblock %}
